@import "tailwindcss";

:root {
   font-family: "Geist", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
}

/* Add this to your global CSS */
.monaco-editor .suggest-widget {
   z-index: 1000 !important;
}